<div class='col-md-12 flex-ctr-sb'>
    <h1>Categories</h1>
  <div>
        <%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
    </div>
</div>

<div class='col-md-12 card-sign'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= category.desc %></td>
              <td>
                <%= link_to 'Show', category, class: 'btn btn-info' %>
                <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning' %>
                <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </td>
            </tr>

        <% end %>
      </tbody>
    </table>
</div>